@media only screen and (max-width: 1440px) {
    main {
        width: 57.208vw;
    }
    section {
        padding: 0 1rem 0 0.5rem;
    }
    .main__U-list li {
        gap: 0.5rem;
        margin: 0.7rem 0;
    }
    .main__U-list li svg{
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 1366px) {
    main {
        width: 60.199vw;
    }
}
@media only screen and (max-width: 1280px) {
    main {
        width: 64.109vw;
    }
}
@media only screen and (max-width: 1149px) {
    main {
        width: 71.109vw;
    }
}
@media only screen and (max-width: 1024px) {
    main {
        width: 79.637vw;
    }
}
@media only screen and (max-width:960px) {
    main {
        width: 85.637vw;
    }
}