@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(0, 0%, 100%);
    width: 53vw;
    height: 630px;
    margin:6.25rem auto 0 auto;
    border-radius: 40px;
    padding: 1.25rem;
}

section {
    padding: 5.625rem 1.5rem;
}

.main__U-list {
    list-style: none;
}
.main__U-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.875rem 0;
}
p {
    font-size: 1rem;
}

.main__header {
    font-size: 3.125rem;
    margin-bottom: 1.5625rem;
}

.main__description {
    margin: 1.25rem 0;
}

#main__form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}
#main__form label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
#email {
    padding: 0.9375rem 0.625rem;
    border-radius: 6px;
    outline-color: hsl(231, 7%, 60%);
    border-color: hsl(231, 7%, 60%);
    margin-bottom: 1.4375rem;
    cursor: pointer;
}
#email ::placeholder {
    color: hsl(235, 18%, 26%);
}
#main__form button {
    padding: 0.9375rem;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    outline-color: hsl(235, 18%, 26%);
    border-color: hsl(235, 18%, 26%);
    border-radius: 6px;
    cursor: pointer;
}
#main__form button:hover {
    background-image: linear-gradient(to right,hsl(4, 100%, 67%) 55%, hsl(4, 100%, 60%));
    outline-color: hsl(4, 100%, 67%);
    border-color: hsl(4, 100%, 67%);
    box-shadow: 0px 5px 30px hsl(235, 18%, 26%);
}